html {
  font-size: 625%;
}
body {
  font-size: 16px;
  letter-spacing: .02rem;
  background: #f0f0f0;
}
* {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
}
header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center;
  justify-content: space-between;
  height: .44rem;
  padding: 0 .1rem;
  font-size: .18rem;
  color: white;
  font-weight: 200;
  background: #29bde0;
}
header img {
  height: .2rem;
  cursor: pointer;
}
main {
  padding: .1rem;
  text-align: center;
  background: #f0f0f0;
}
main .gamer-set {
  height: 2.25rem;
}
main .gamer-set p {
  float: left;
  height: 2.25rem;
  width: .6rem;
  font-size: .18rem;
  background: white;
  border-right: 1px solid #d9d9d9;
}
@media screen and (max-width: 400px) {
  main .gamer-set p {
    width: .4rem;
  }
}
main .gamer-set p span {
  display: inline-block;
  width: .2rem;
  padding-top: .7rem;
  margin: 0 auto;
  vertical-align: middle;
}
main .gamer-set ul {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 1.95rem;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  background: #fbfbfb;
}
main .gamer-set ul .civilian {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  list-style: none;
}
main .gamer-set ul .civilian::before {
  content: "";
  width: .1rem;
  height: .1rem;
  margin-right: .08rem;
  background: blue;
}
main .gamer-set ul .killer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  list-style: none;
}
main .gamer-set ul .killer::before {
  content: "";
  width: .1rem;
  height: .1rem;
  margin-right: .08rem;
  background: red;
}
main .gamer-set .button-wrap {
  display: flex;
  height: .3rem;
  font-size: 0;
}
main .gamer-set .button-wrap button {
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  font-size: .14rem;
  color: #29bde0;
  outline: none;
  border: none;
  background: #fbfbfb;
  cursor: pointer;
}
main .gamer-set .button-wrap button img {
  width: .1rem;
}
main .word-group {
  padding: 0 .15rem .1rem;
  margin: .1rem 0;
  background: white;
}
main .word-group input {
  display: block;
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  padding-top: .05rem;
  margin-bottom: .08rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
main .word-group input::-webkit-input-placeholder {
  color: #dadada;
  font-size: .14rem;
}
main .gamer-number {
  padding: 0 .1rem;
  text-align: left;
  background: white;
}
main .gamer-number label {
  display: block;
  padding: .2rem;
}
main .gamer-number .slider {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
}
main .gamer-number #demo {
  height: .25rem;
  width: .3rem;
  font-size: .2rem;
  text-align: center;
  color: #fab344;
  border: none;
  background: #f4f5f5;
}
main .gamer-number #myRange {
  -webkit-appearance: none;
  width: 86%;
  height: .2rem;
}
main .gamer-number #myRange::-webkit-slider-runnable-track {
  height: 4px;
  background: #fab344;
  cursor: pointer;
}
main .gamer-number #myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: .18rem;
  width: .3rem;
  margin-top: -8px;
  background: url(../images/slider.png);
  border: 1px solid #fab344;
  border-radius: 4px;
  background-size: cover;
  cursor: pointer;
}
main .gamer-number #myRange:focus {
  outline: none;
}
main .gamer-number #reduce {
  width: .2rem;
  height: .2rem;
  background-image: url(../images/reduce.png);
  background-size: cover;
  cursor: pointer;
  outline: none;
  border: none;
}
main .gamer-number #increase {
  width: .2rem;
  height: .2rem;
  background-image: url(../images/increase.png);
  background-size: cover;
  cursor: pointer;
  outline: none;
  border: none;
}
footer {
  padding: 0 .1rem;
  background: #f0f0f0;
}
footer button {
  display: block;
  width: 100%;
  height: .5rem;
  color: white;
  font-size: .2rem;
  outline: none;
  border: none;
  background: #fbb435;
  cursor: pointer;
}
/*# sourceMappingURL=task2-2.css.map */