html{
    font-size: 100px;
}
*{
    margin:0 ;
    padding:0;
}
p{
    margin:0;
}
body{
    font-size: 16px;
    background: #29bde0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.header{
    width:100%;
    position:fixed;
    top:0;
    display:flex; display:-webkit-flex;
    height: .44rem;
   justify-content:space-between;
    align-items: center;
    font-size: .19rem;
    color:white;
    background: #29bde0;
}
.header-img-left{
    margin-left:.12rem;
    width:.2rem;
}
.header-img-right{
margin-right:.12rem;
    width:.18rem;
}
.vote{
    width:100%;
    position:fixed;
    top:.44rem;
    display:flex; display:-webkit-flex;
    justify-content: space-between;
    align-items:center;
    text-indent:7vw;
    background: #b9e9f5;
    font-size: .15rem;
    height:.41rem;
}
.vote-audio{
    position:absolute;
    right:-262px;
    opacity:0;
    display:block;
}
.vote-img{
    width:.26rem;
    margin-right: .12rem;
}
.main{
    background:#29bde0 ;
    margin:1.55rem 0 .95rem 0;
}
.main-top-img{
    position:fixed;
    top:.85rem;
    left:9vw;
}
.main-header{
    width:100vw;
    position:fixed;
    top:.85rem;
    height:.7rem;
    font-size: .14rem;
    color:white;
    padding: .2rem 0 .3rem 10vw;
    background: #29bde0;
}
.main-box{

    display:flex; display:-webkit-flex;
    justify-content: space-around;
}
.main-block{
    background:#29bde0 ;
    width:20%;
    height:31vw;
}
.main-block:hover .main-block-hidden{
  opacity:1;
}
.main-block-visible{
    height:19vw;
    width:19vw;
    box-sizing:content-box;
    border: .5vw solid white;

}
.main-block-visible-identify{
   line-height:13vw;
    width:100%;
    text-align: center;
    font-size: .2rem;
    background-color: #f5c97b;
    color:black;

}
.main-block-visible-number{
    line-height: 6.2vw;
    font-size: .15rem;
    background: #83b09a;
    color:white;
    text-align: center;
}
.main-block-hidden{
    width:100%;
    height: 11vw;
    background: #29bde0;
    display:flex; display:-webkit-flex;
    justify-content: space-between;
    align-items: center;
    opacity:0;
}
.main-block-hidden-img{
    width:4.5vw;
    cursor:pointer;
}
.footer{
   position:fixed;
    left:6.65%;
    right:6.48%;
    bottom:0;
    border-top: .02rem solid white;
    height:.95rem;
    background:  #29bde0;
    text-align: center;
}
.footer-vote{
    display:inline-block;
    width:80%;
    background: #fbb434;
    line-height: .44rem;
    text-align: center;
    margin:.2rem auto .3rem auto;
    font-size: .25rem;
    color:white;
    text-decoration:none;
}
