<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>watch</title>
    <script src="https://cdn.bootcss.com/angular.js/1.6.6/angular.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <div ng-repeat="x in a">
    <input type="number" ng-model="x.value">
    <span>{{x.value}}</span>
    </div>
    <span>{{count}}</span>
</div>
<script>
    var myApp = angular.module("myApp", []);
    myApp.controller("myCtrl", function ($scope) {
        $scope.a = [
            {"value" : 1},
            {"value" : 2},
            {"value" : 3},
            {"value" : 4}
        ];
        $scope.count = 0;
        $scope.$watch("a", function () {
            $scope.count++;
        }, false)
    });

</script>

</body>
</html>